<p>Welcome to Manstervile Raids! This website is designed wwith the pug player in mind!
    All information within this website is broken down for each role so you can quickly 
    identify your responsibilites within any given raid or strike! </p>

<!-- Hompage Title Cards -->

<div class="d-flex justify-content-center">
    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Raid Wings</p>
        <a class="stretched-link" routerLink="/raids"></a>
    </div>
    
    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Strikes</p>
        <a class="stretched-link" routerLink="/raids"></a>
    </div>

    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Raid Builds</p>
        <a class="stretched-link" routerLink="/builds"></a>
    </div>
</div>

