<div class="d-flex justify-content-around m-5" id="wings1-4">
    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p>Wing 1: Spirit Vale </p>
    </div>

    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 2: Salvation Pass</p>
    </div>

    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 3: Stronghold of the Faithful</p>
    </div>

    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 4: Bastion of the Penitent</p>
    </div>
</div>

<div class="d-flex justify-content-around m-5" id="wings5-7">
    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 5: Hall of Chains</p>
    </div>

    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 6: Mythwright Gambit</p>
    </div>

    <div class="card text-center rounded-sm shadow" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p class="card-body">Wing 7: The Key of Ahdashim</p>
    </div>
</div>