<div class="d-flex justify-content-center m-5" id="wings1-2">
    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p>Wing 1: Spirit Vale </p>
        <a class="stretched-link" routerLink="/wing1"></a>
    </div>

    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 2: Salvation Pass</p>
        <a class="stretched-link" routerLink="/wing2"></a>
    </div>
</div>
<div class="d-flex justify-content-center m-5" id="wings3-4">
    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 3: Stronghold of the Faithful</p>
        <a class="stretched-link" routerLink="/wing3"></a>
    </div>

    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 4: Bastion of the Penitent</p>
        <a class="stretched-link" routerLink="/wing4"></a>
    </div>
</div>

<div class="d-flex justify-content-center m-5" id="wings5-6">
    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 5: Hall of Chains</p>
        <a class="stretched-link" routerLink="/wing5"></a>
    </div>

    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Wing 6: Mythwright Gambit</p>
        <a class="stretched-link" routerLink="/wing6"></a>
    </div>
</div>

<div class="d-flex justify-content-center m-5" id="wings7-g">
    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p class="card-body">Wing 7: The Key of Ahdashim</p>
        <a class="stretched-link" routerLink="/wing7"></a>
    </div>

    <div class="card text-center rounded-sm shadow mx-4" style="width: 18rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p class="card-body">Special Forces Training Area</p>
        <a class="stretched-link" routerLink="/golem"></a>
    </div>

</div>