<h2> The Forsaken Veil </h2>
<h4> Overview </h4>
<p>The Forsaken Veil can be split into 3 seperate bosses with 1 event between the first boss
    Veil Guardian and Gorseval, called Spirit Run. Considered an introductory wing 
    The Forsaken Veil introduces players to the world of raiding in Guild Wars 2. Key concepts taught
    in Wing 1 include; individual positioning in Veil Guardian, a hard DPS check in Gorseval*, and 
    individual mechanic responsibilities at Sabetha. 
</p>


<h5> Encounters </h5>
<!-- Boss Cards -->

<div class="d-flex justify-content-center">
    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Veil Guardian</p>
        <a class="stretched-link" routerLink="/vg"></a>
    </div>
    
    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Spirit Run</p>
        <a class="stretched-link" routerLink="/sr"></a>
    </div>
    
    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Gorseval</p>
        <a class="stretched-link" routerLink="/gors"></a>
    </div>

    <div class="card text-center rounded-sm shadow m-5" style="width: 20rem; height: 20rem">
        <img class="card-img-top m-3 p-2" alt="Card image cap">
        <p >Sabetha</p>
        <a class="stretched-link" routerLink="/sab"></a>
    </div>
</div>

