<h3>Spirit Run </h3>
<h5>Role Breakdown</h5>
<table class="table table-dark table-bordered">
    <thead>
        <th>Section</th>
        <th>Healers/Boons</th>
        <th>Tank</th>
        <th>DPS</th>
    </thead>
    <tbody>
        <tr>
            <td>Phase 1: Zone Capture</td>
            <td>This phase is largely about survival, time to shine. Don't be afraid to just pump out heals this entire time. 
                Bringing some stability and stun breaks will be beneficial in preventing squad members from getting picked off.
                Use these whenever you are about to move to the next zone via portal or simply running.
                Don't be afraid to just pump out heals this entire time.  
            </td>
            <td>
                Tanking doesnt really exist here. Everything is just an add for dps to cleave. If you 
                are tanking on chrono it is largely expected for you to bring portals to make this phase
                easier. When taking portals bring blink and mimic as well. The trick to making this seemless
                is to portal, caste mimic, blink to the next zone, drop portal, blink to the available adrenaline
                mushroom, and repeat. The mushrooms have a cooldown so only one will be up at a time. 
            </td>
            <td>
                Stay alive, get to the zones via portal or running, cleave mobs in that order. Bringing a stun 
                break or some extra stability for the group is advised to make things extra smooth. 
            </td>
        </tr>
        <tr>
            <td>Phase 2: Mob clear and Spirit Run</td>
            <td>This will feel to an open world group event. Keep your group topped off and the boons 
                flowing while your dps cleave down adds. Most groups will stand in line of sight behind the 
                left rear pillar when running in. For the spirit run that follows you will take the first zone
                for each wall. On the last wall you will take the first and the third zones. When you join up 
                with your dps pump all the boons you can to ensure the wall gets DPS'd down quickly.
            </td>
            <td>
                Tank here again doesn't have much to worry about. For the mob clear throw out that big deeps 
                and relax. For spirit run you will always close the first zone and take the third zone on the last wall. 
                If you want to be super PMA you can choose to portal the supports from the first zone to the third zone 
                but this is not necessary. 
            </td>
            <td>
                Simple mob clear to start. Most groups stand behind the back left pillar as you are walking in 
                to the room to line of sight the mobs you need to kill. Spirit run is where you will be judged.
                Treat ever wall like a raid boss. Use your rotation and kill each one as fast as possible. 
                The last thing you want to do is get lazy and end up wiping the group. 
                You will only ever take the second zone available. During the second wall you can stand within
                the zone and still be within melee range of the wall. 
            </td>
        </tr>
        <tr>
            <td>
                Phase 3: Buttons
            </td>
            <td colspan="3" class="text-center">Everyone is equal in the eyes of the buttons. Find your favorite one quickly and nobody
                gets hurt. Buttons are shone below. 
            </td>
        </tr>
    </tbody>
</table>