<h2> Veil Guardian </h2>
<h4> Preliminary Event </h4>
<p> Before you and your raid party can begin the boss fight there is a pre-event consiting of three
    guardians in a row. Each guardian demonstrates a single mechanic present during the fight with Veil Guardian. 
</p>
<h5>Green Guardian</h5>
<p>Green Guardian introduces the teleport circle mechanic Unstable Magic Spike. Blue circles with 
    red outlines spawn underneath players. Unless the circle is walked out of, dodged, evaded, or block
    any player standing within the circle will be teleported to a random location within the arena. Should
    this happen during this pre-event the next guardian to appear in the line can be pulled to the 
    group. A yellow green tint around the border of your window screen will appear if you are standing within
    a circle. 
</p>
<hr>
<h5></h5>