<h2> Vale Guardian </h2>

<!-- Role breakdowns -->
<h3>Roll Breakdowns</h3>
<h5>Prelim Events</h5>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Healers/Boons</th>
            <th>Tank</th>
            <th>DPS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="height: 300px; width: 400px;">
                Prelim events are rather straight forward for healers. Largest concerns during the
                guardians are boons, greens, and seekers. Make sure you understand if your group is doing
                a no green strategy now so you can be prepared. Greens without a heal scourge will
                deal roughly 80-90% of your squads health. Make sure they are topped off BEFORE the green 
                detonates. Make sure to watch seekers coming in and start practicing your cc skills. 
                Druids should take Glyph of Tides and Entangle and it is largely their responsibility though
                most Chronomancer tanks will bring focus to assist here and there. Healbrands, be prepared
                to help out with shield 5, Shield of Absorbtion, if your druid is struggling. 
                
            </td>
            <td style="height: 300px; width: 400px;">
                Tanking is fairly simple during prelim. Dont move, dont die, help cc to kill, and keep any 
                    rougue seekers off the groups. If you are tanking on Chrono its highly recommended to bring focus
                    to do just that. 
            
            </td>
            <td style="height: 300px; width: 400px;">
                These first events demand very little of DPS. Use them to get warmed up for Vale Guardian
                itself. Focus on managing mechanics and get a fell for how your group. Its important to 
                watch your health during greens if your group is doing no greens. DON'T rely on your healers
                to always keep you above 80% before they detonate. 
            </td>
        </tr>
    </tbody>
</table>
<h5>Vale Guardian</h5>
<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Healers/Boons</th>
            <th>Tank</th>
            <th>DPS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Same principles from the prelim events still apply. If you are doing no green strategy
            focus on getting your squads health above 90% before greens detonate. If you are doing greens
            one of the healers should accompany them, most often this should be the druid as you can still
            provide might and healing using Celestial Avatar. Seeker control during no greens is extremely
            important in order to keep your squads healthy. Getting teleported can be extremely difficult to 
            survive, watch for your teammates to save them should they get teleported. If you are unlucky
            enough to get teleported chances are you will either die before returning or wipe at the next green. 
            Do not get teleported. During the split phase accompany the main group and throw an occasional heal
            to the condi team should they need assistance. Be careful of the floor damage if you do decide to help.
            </td>
            <td>
                First and foremost. NEVER GET TELEPORTED. Utilize your blocks and evades to their fullest. 
            Regardless of class with a little practice you can dodge backwards into the wall to avoid
            getting teleported. This can be a nice saftey net should something go wrong and you don't have
            a skill available when teleports come up. For no greens you should keep Vale Guardian
            against the wall in between the red and blue guardian slices for the first two splits. During
            splits you will pull the green guardian over to the blue guardian to your squad. After
            33% you will begin the "NASCAR" phase. NASCAR always starts in the red floor slice on the border
            with green and moves clockwise. Always move Vale Guardian to the very edge of the available 
            floor slice as soon as possible to allow enough time for your group to stay out of the damaging 
            floor ticks. If you are doing the greens mechanic you will begin NASCARing at 66% rather than 33%.
            With greens it is especially important to keep the group as close to the edge of the tiles as 
            possible to make sure your green team has the best chances to be within a safe distance of the next
            available tile. CC bars can be extremely punishing on your squad, be ready for them and use as much 
            cc as you have available. 
            </td>
            <td>
                Your absolute main concern during this encounter is greens and teleports. If you are doing greens you must have 
            your head on a swivvle moving immediately to the green if you are on green team. If you are not doing
            greens your job is to always move out of the teleport circle mechanic. Your screen should have a 
            yellow green tint on the border if you are standing within a teleport circle. If you get teleported
            during a no green run, pray and scurry back to the forgiving arms of your healers. Always keep an 
            eye on your health and incoming green damage. If for some reason you see yourself below 90% as a green
            is about to go off use your own heal skills to help your healers. Its a much smaller dps loss to pause
            your rotation than it is to go down. During splits make sure to move to your respective guardians. Power 
            classes will move to the blue guardian while condi dps will move to the red guardian. Keep an eye out for 
            cc bars after each split. It is 100% your responsibilty to use the cc skills available to you in order
            to break the cc bars.  
            </td>
        </tr>
    </tbody>
</table>
<!-- Detail Explinations -->
<h5> Preliminary Event </h5>
<p> Before you and your raid party can begin the boss fight there is a pre-event consiting of three
    guardians in a row. Each guardian demonstrates a single mechanic present during the fight with Veil Guardian. 
</p>
<h6>Green Guardian</h6>
<p>Green Guardian introduces the teleport circle mechanic Unstable Magic Spike. Blue circles with 
    red outlines spawn underneath players. Unless the circle is walked out of, dodged, evaded, or block
    any player standing within the circle will be teleported to a random location within the arena. Should
    this happen during this pre-event the next guardian to appear in the line can be pulled to the 
    group. A yellow green tint around the border of your window screen will appear if you are standing within
    a circle. 
</p>
<hr>
<h5></h5>